<form action="/add" method="POST">
    <label for="titulo">Tema</label><br>
    <input type="text" name="titulo"><br>
    <label for="s_titulo">Sub-tema</label><br>
    <input type="text" name="s_titulo"><br>
    <label for="conteudo">O que estás a pensar?</label><br>
    <textarea name="conteudo" id=""></textarea><br>
    <button type="submit">Postar</button>
</form>