<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog simples</title>
</head>
<body>
    <nav>
        <h1><a href="#">BlogSite</a></h1>
        <p>Olá usuário, bem-vindo(a) de volta!</p>
        <div class="menu">
            <ul>
                <li><a href="#">Local pessoal</a></li>
                <li><a href="#">Comunidade</a></li>
                <li><a href="#">Mensagens</a></li>
                <li><a href="#">Atividades</a></li>
                <li><a href="_404">404</a></li>
            </ul>
        </div>
    </nav>
    
</body>
</html>